<nav class="nav-container">
    <div class="logo">
        <a href="index.html">
            <img src="imagenes/logos/droe2.png" alt="DROE Fermentation House" class="logo-img">
        </a>
    </div>

    <div class="menu-toggle" id="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-links">
        <li><a href="about.html">About DROE</a></li>
        <li><a href="lab.html">The Lab</a></li>
        <li><a href="methods.html">Methods</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>